<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 text-center">
      <h1>New Tweet</h1>

      <%= render 'form' %>

      <%= link_to 'All The Tweets', tweets_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
